@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #F3F5FC;
    height: 100vh;
}

/* Faz com que o conteúdo ocupe a página toda */
.container {
    height: calc(100% - 90px);
}

.logo-alura {
    margin: 40px 0 0 84px;
}

/* parte do site onde é inserido o texto e onde estão os botões */
.decoder {
    display: inline-block;
    margin: 1% 2% 0 240px;
    height: 87%;
    width: 48%;
    vertical-align: top;
}

/* textarea onde é inserido o texto a ser criptografado/descriptografado */
.decoder #rawtext {
    resize: none;
    border: none;
    background: #F3F5FC;
    width: 100%;
    height: 75%;
    font-weight: 400;
    font-size: 24px;
    color: #0A3871;

}

/* estilização padrão para parágrafos */
.paragraph {
    color: #495057;
}

/* símbolo de exclamação */
.exclamation {
    width: 12px;
}

.decoder .paragraph {
    font-weight: 400;
    font-size: 12px;
    color: #495057;
    margin: 0 0 5px 0;
}

/* estilização padrão para botões */
.standard-btn {
    padding: 28px;
    margin: 0 5px 0 0;
    border-radius: 24px;
    background: #D8DFE8;
    color: #0A3871;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    width: 250px;
    border: none;
    transition: 400ms background;
    opacity: 0.85;
}

.standard-btn:hover {
    opacity: 1;
    transform: scale(1.05);
}

.criptografar-btn {
    background: #0A3871;;
    color: #D8DFE8;
}

/* parte do site onde é apresentado o resultado da criptografia/descriptografia do texto */
.result {
    display: inline-block;
    height: 100%;
    width: 400px;
    position: relative;
    /* left: 25%; */
    bottom: 10%; 
    background: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.result-img {
    height: 304px;
    width: 336px;
    margin: 10% 25px;
    border-radius: 0px;

}

.result h3 {
    color: #343A40;
    opacity: 0.9;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    /* word-wrap: break-word; */
}

.result .paragraph {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 4%;
}

/* div que vai conter o parágrafo com o resultado da conversão do texto, não foncundir
com a estilização acima */
.result-paragraph {
    word-wrap: break-word;
}

.result-paragraph .paragraph {
    margin: 5%;
}

/* estilização da confirmação que o texto foi copiado */
.copy-confirm {
    position: absolute;
    text-align: center;
    width: 150px;
    left: calc(50% - 150px / 2);
    top: 88%;
}

.copy-confirm .paragraph {
    font-size: 14px;
}

/* botão para copiar texto */
.copy-btn {
    width: 150px;
    padding: 20px;
    background: #0A3871;
    color: #D8DFE8;
    position: absolute;
    left: calc(50% - 150px / 2);
    top: 95%;
}

/* estilização do rodapé */
footer {
    text-align: center;
}

/* seleciona o parágrafo logo após o br dentro do footer */
footer br + p {
    margin-bottom: 15px;
}

.github-logo {
    margin-bottom: 25px;
}

.github-logo a {
    text-decoration: none;
}

.github-logo .paragraph {
    font-size: 14px;
}

/* deixa o elemento invisível */
.invisible {
    display: none;
}